<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <%= link_to content_tag('span', 'Midnight Books', class: 'mdl-layout-title'), books_path, class: 'mdl-navigation__link' %>
  </div>
</header>
